<!DOCTYPE html>
<html lang="en">
<head>
<title>THE BRANDWEIN'S</title>
<meta charset="utf-8">
<!--<link href="https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer:400i" rel="stylesheet">-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/main.css">

</head>
<body>
  
    <header >
      <span> <img src="/images/zeidyyd.jpg" alt="logo" class="logo" style="float:left">
        <img src="/images/zeidy.png" alt="Zaidy r' Avrahom" class="zaidy" style="float:right">
          <h3 style="text-align: center; margin: 0" >BRANDWEIN  FAMILY</h3>
      </span>
    
    </header>
    <div class="navagation">
    <nav>
    <section class="row">
    <ul class="nav-row">
      <li class="active"><a href="/">HOME</a></li>
      <li><a href="../tehillim">DAILY TEHILLIM</a></li>
      <li><a href="../calendar">CALENDAR</a></li>
      <!--<li><a href="#">GALLERY</a></li>-->
    </ul>
</section>
</nav>
</div>
</body>
</html>