<!DOCTYPE html>
<html lang="en">
<head>
<title>THE BRANDWEIN'S</title>
<meta charset="utf-8">
<link href="https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer:400i" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/main.css">
<script type="text/javascript">
  //controlling visbility of forms
  function toggle_visibility(id1,id2) {
    var f = document.getElementById(id1);
    var s = document.getElementById(id2);
    if(f.style.display == 'block'|| s.style.display =='block')
      f.style.display = 'none';
    else
      f.style.display = 'block';
  } 
  /*
  //Hide form when user clicks outside it
  window.onload = function(){
    var formSearch = document.getElementById('form-search');
    var formAdd = document.getElementById('form-add');
    document.onclick = function(e){
       if(e.target.id !== 'form-search' && e.target.id !== 'form-add' && e.target.id !== 'dropdown'){
          formSearch.style.display = 'none';
          formAdd.style.display = 'none';
       }
    };
 };
  */
  //submiting form
  function submitForm() {
    const first = document.getElementById("fnSearch").value;
    const last = document.getElementById("lnSearch").value;
    if (first==='' && last==='')
      alert("Enter first name or last name");
    else
      document.searchForm.submit();
  }
  
  </script>

</head>
<body>
  
<header >
  <span> <img src="images/zeidyyd.jpg" alt="logo" class="logo" style="float:left">
    <img src="images/zeidy.png" alt="Zaidy r' Avrahom" class="zaidy" style="float:right">
      <h3 style="text-align: center; margin: 0" >BRANDWEIN  FAMILY</h3>
  </span>

</header>
<div class="navagation">
<nav>
<section class="row">
<ul class="nav-row">
  <li class="active"><a href="#">HOME</a></li>
  <li><a href="../tehillim">DAILY TEHILLIM</a></li>
  <li><a href="../calendar">CALENDAR</a></li>
  <!--<li><a href="#">GALLERY</a></li>-->
  <li class="has-dropdown"><a href="#">DIRECTORY</a>
    <ul class="dropdown" id="dropdown">            
      <li class="directory"><a href="../directory">Family Directory</a></li>
      <li class="search-by=name"><a href="#" onclick="toggle_visibility('form-search','form-add');">Search by name</a></li>
      <li class= "post"><a href="#" onclick="toggle_visibility('form-add','form-search');" >Add Member to Directory</a></li>       
    </ul>
  </li>
</ul>
</section>
</nav>
</div>
<div id="form-add">
  <div class="form1">
    <h3>WELCOME</h3>
    <form id="addForm" action="../directory/newmember" method="post">
      <div class="first-name">
        <label for="first-name">First Name</label>
        <input id="first-name"  type="text"  name="firstName" required><br>
      </div>
      
      <div class="last-name">
        <label for="last-name">Last Name</label>
        <input id="last-name"  type="text" name="lastName" required>
      </div>
      
      <div class="address">
        <label for="address">Address</label>
        <input id="address" type="text" name="address" required><br>
      </div>
      <div class="one-line">
        <div class="city">
          <label for="city">City</label><br>
          <input id="city" type="text" name="city" required>
        </div>
        
        <div class="State">
          <label for="state">State</label><br>
          <input id="state"  type="text"  name="state" required>
        </div>
        
        <div class="zip">
          <label for="zip">Zip</label><br>
          <input id="zip"  type="text" name="zip" required><br>
        </div>
      </div>
      
      <div class="Phone">
        <label for="phone">Phone</label>
        <input id="phone"  type="text" name="phone"><br>
      </div>
      
      <div class="email">
        <label for="email">E-Mail</label>
        <input id="email" type="email" name="email" ><br>
      </div>
      <input type="submit" id="submit" value="Submit">
    </form>  
  </div>
</div>
<div id="form-search">
  <div class="form2">
    <H3>Enter first or last name</H3>
    <form id="searchForm" name="searchForm" action="../directory/search" method="get">
      First name:<br>
      <input type="text" name="firstName" id="fnSearch">
      <br>
      Last name:<br>
      <input type="text" name="lastName" id="lnSearch">
      <br><br>
      <input type="button" id="submit" value="Submit" onclick="submitForm()" >
    </form> 
  </div>
</div>  
<div class="main-div">
  <div class="frame"></div>
  <iframe src="esther.pdf"  width="800px" height="900px"></iframe>

</div>

<footer>
  Comments send Email to: <a href="mailto:yoselbrand@gmail.com">Yoselbrand@gmail.com</a>.
</footer>
</body>
</html>