mixin label(address)
    span.label
        .name= address.firstName+' '+address.lastName
        .address= address.address
        .city= address.city+' '+address.state+' '+address.zip

html
    head
       title hello
       script.
          var directory = #{directory}

       style.
            .label {
                font-family: sans-serf;
                font-size: 1.3em;
                line-height: 1.3;
                padding: 10px;
                border: 1 px solid #555;
                width: 300px;
                float: left;
                text-align: center;
            }
    body
        each n in directory
            +label(n)
        