<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>The Brandwein's</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="css/tehillim.css">

  </head>

  <body>
      <H1>THE DAILY KAPITAL</H1>
    
    <div id="wraper">
            
      <h3 itemprop="name headline">יהי רצון לפני אמירת תהילים</h3>
      <p><h4>יְהִי רָצוֹן מִלְפָנֶיךָ יְיָ אֱלֹהֵינוּ וְאֱלֹהֵי אֲבוֹתֵינוּ, הַבּוֹחֵר בְּדָוִד עַבְדוֹ וּבְזַרְעוֹ אַחֲרָיו, וְהַבּוֹחֵר בְּשִירוֹת וְתִשְבָּחוֹת,
        שֶׁתֵּפֶן בְּרַחֲמִים אֶל קְרִיאַת מִזְמוֹרֵי תְהִלִּים שֶׁאֶקְרָא, כְּאִלוּ אֳמָרָם דָוִד הַמֶלֶךְ עָלָיו הַשָׁלוֹם בְּעַצְמוֹ, זְכוּתוֹ יָגֵן עָלֵינוּ.
        וְיַעֲמוֹד לָנוּ זְכוּת פְּסוּקֵי תְהִלִּים וּזְכוּת תֵבוֹתֵיהֶם וְאוֹתִיוֹתֵיהֶם וּנְקוּדוֹתֵיהֶם וְטַעֲמֵיהֶם, וְהָשֵמוֹת הָיוֹצְאִים מֵהֶם מֵרָאשֵׁי תֵבוֹת וּמִסוֹפֵי תֵבוֹת,
        לְכַפֵּר חַטֹאתֵינוּ וַעֲווֹנוֹתֵינוּ וּפְשָעֵינוּ, וּלְזַמֵר עָרִיצִים וְלְהַכְרִית כָּל הַחוֹחִים וְהַקוֹצִים הַסוֹבְבִים אֶת הַשׁוֹשַׁנָה הָעֶלְיוֹנָה,
        וּלְחַבֵּר אֵשֶׁת נְעוּרִים עִם דוֹדָה בְּאַהֲבָה וְאַחֲוָה וְרֵעוּת.
        וּמִשָׁם יִמָשֵׁךְ לָנוּ שֶׁפָע לְנֶפֶשׁ רוּחַ וּנְשָׁמָה לְטַהֲרֵנוּ מֵעֲווֹנוֹתֵינוּ וְלִסְלוֹחַ חַטֹאתֵינוּ וּלְכַפֵּר פְּשָׁעֵינוּ,
        כְּמוֹ שֶׁסָלַחְתָ לְדָוִד שֶׁאָמָר מִזְמוֹרִים אֵלוּ לְפָנֶיךָ, כּמוֹ שֶׁנֶאֱמַר: גַם יְיָ הֶעֱבִיר חַטָאתְךָ לֹא תָמוּת.
        וְאַל תִקָחֵנוּ מֵהָעוֹלָם הַזֶה קוֹדֶם זְמַנֵנוּ, וְנִזְכֶּה לְחַיִים אֲרוּכִּים טוֹבִים וּמְתוּקָנִים, בְּאוֹפָן שֶׁנוּכַל לְתַקֵן אֶת אֲשֶׁר שִׁיחַתְנוּ
        וּמֵאוֹצָר מַתְנָת חִנָם חָנֵנוּ כְּדִכְתִיב: וְחַנוֹתִי אֶת אֲשֶׁר אָחוֹן וְרִחַמְתִי אֶת אֲשֶׁר אֲרַחֵם.
        וּכְשֵׁם שֶׁאָנוּ אוֹמְרִים לְפָנֶיךָ שִׁירָה בָּעוֹלָם הַזֶה, כָּךְ נִזְכֶּה לוֹמַר לְפָנֶיךְ יְיָ אֱלֹהֵינוּ שִׁיר וּשְׁבָחָה לָעוֹלָם הַבָּא.
        וְעַל יְדֵי אֲמִירַת תְהִלִים תִתְעוֹרֵר חֲבַצֶלֶת הַשָרוֹן, וְלָשִיר בְּקוֹל נָעִים בְּגִילַת וְרַנֵן, כְּבוֹד הַלְבָנוֹן נִתַן לָה, הוֹד וְהָדָר בְּבֵית אֱלֹהֵינוּ, בִּמְהֵרָה בְּיָמֵינוּ, אָמֵן סֶלָה.</h4>  <br />
        <strong>לְכוּ נְרַנְּנָה לַיְיָ נָרִיעָה לְצוּר יִשְׁעֵנוּ. נְקַדְּמָה פָנָיו בְּתוֹדָה בִּזְמִרוֹת נָרִיעַ לוֹ. כִּי אֵל גָּדוֹל יְיָ וּמֶלֶךְ גָּדוֹל עַל כָּל אֱלֹהִים. וְאַתָּה קָדוֹשׁ יוֹשֵׁב תְּהִלּוֹת יִשְׂרָאֵל.</strong><br />
        </p>
          
      <div id="main">
          <!--js tehillim -->    
      </div>
      <h3 style="margin-bottom:20px;">מִי יִתֵּן מִצִּיּוֹן יְשׁוּעֻת יִשְׂרָאֵל, בְּשׁוּב יְהוָה שְׁבוּת עַמּוֹ, יָגֵל יַעֲקֹב יִשְׂמַח יִשְׂרָאֵל. וּתְשׁוּעַת צַדִּיקִים מֵיְיָ מָעוּזָּם בְּעֵת צָרָה. ר  
       </h3>
    </div>
    <script type="text/javascript" src="/scripts.js"></script>
  </body>
</html>